<li>
    <p><span class="label">ID:</span> {{this.id}}</p>
    <p><span class="label">Burger:</span> {{this.burger_name}}</p>
    <p><span class="label">Devoured:</span> {{this.devoured}}</p>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

    <a href="/{{this.id}}">Update this burger</a>
</li>