<li class={{#if devoured}}"devoured"{{else}}"noteaten"{{/if}}>
    <p><span class="label">ID:</span> {{this.id}}</p>
    <p><span class="label">Burger:</span> {{this.burger_name}}</p>
    <p><span class="label">Devoured:</span> {{this.devoured}}</p>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

    <button class="change-devoured" data-id="{{this.id}}" data-newdevoured="{{this.devoured}}">
		{{#if devoured}}Spit it back up!{{else}}DEVOUR!!{{/if}}
	</button>
</li>